:root{
    --background: rgba(196, 169, 193, .6);
    --main: #c67ace;
    --divBackgrounds: rgba(196, 169, 193, .6);
    --heading:#49494d;
    --fontmajor: 'Righteous', cursive;
    --fontminor: 'Manrope', sans-serif;
}

#header-index{
    text-align: center;
   font-family: 'Manrope', sans-serif;
   padding-bottom: 60px;
  padding-top: 90px;
  padding-bottom: 20px;
   z-index: 6;
   background-image: url("img/c-p-background.jpg");
      opacity: .8;
      background-size: cover;
    background-position: right;
   

  }
#header-bg{
    z-index: 12;
    background-color:rgba(197, 177, 199, 1);
    opacity: .9;
    width: 50%;
    margin: 0 auto;

}

nav{
    background-color: rgba(196, 169, 193, .6);
}

   

#titles{
    color: rgb(255, 255, 255, 1) ;
    padding-top: 20px;
    padding-bottom:20px;
    
   margin-bottom: 40px;
}
header h1, header h2, header h3{
    color: #fff;
    font-weight: 200;
    line-height: 60px;
    
}
header h1{
    font-family: var(--fontmajor);
    font-weight: 500;
    color: #8b648f;
    
}

h2, h3{
    color: #49494d;
}

p
{font-family: 'Manrope', sans-serif;

}

a{
    text-decoration: none;
    color: white;
   
}
.buttons a :hover{
    color: (--main);
}
#about-me{
    border-top:var(--main);
    padding-bottom: 100px;
    background-color: var(--divBackgrounds);
    padding-top: 100px;
}
#about-me h3{
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    color: #000;
}
#about-me img{
    margin-left: 30%;
    border-radius: 50%;
}

}
#about-me-html{
padding-left: 10px;
padding-bottom: -20px;
}

#about-me-html h5{
    font-family: var(--fontminor);
    color: var(--heading);
}

.mail-to{
    margin-left: 10px;
    color: var(--heading);
    padding: 10px;
}

.mail-to a:hover{
    color: var(--main);
}
.proficient-logos{
    margin-left: 13.5%;
    margin-top: 2%;
    margin-bottom: -20px;
   
}
.proficient-logos i{
    color: #49494d;
    font-size: 50px;
    padding:1.5rem;
}
.featured-project-section{
    padding-bottom: 60px;
    background-color: rgba(246, 244, 247, 1) ;
}
.navDiv{
    padding-left: 20px;
    
}
.contact-div{
    background-color: rgba(196, 169, 193, .6);
    padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
#featured-project{
    text-align: center;
    font-family:  'Mitr', sans-serif;
    padding-bottom: 20px;
    padding-top: 60px;
    color: #000;
}
.weather-project{
    padding-top: 10px;
    margin-left: -50px;

}
.weather-app-title{
   padding-left: 8%;

}
.weather-image {
    height: 250px;
    width: fit-content;

}
.lacrosse-fanatic{
     margin-left: -80px;
     text-align: center;
     margin: 0 auto;
 }
.weather-app-blurb{
    padding:20px
}

.p-app-title{
    text-align: center;
    margin-right: 40px;
}
.portfolio-website p{
    padding: 20px;
}
.portfolio-image{
    height: 200px;
    width: fit-content;
    padding-top: 20px;
}
.portfolio-website{
    margin-left: 120px;
    margin-right: -100px;
}
 .index-contact{
text-align: center;
 }

.contact-links-index{
    transition: all 100ms ease-in-out;
}
#contact-icons-index a:hover{
    color: (--main);

}
/*about.html css*/

#header-about{
    background-color: var(--background);
    padding-bottom:20px;
    padding-top: 100px;

}

#header h5{
    font-family: var(--fontminor);
    color: var(--heading);
}

#header-about h1{
    font-family: var(--fontminor);
    margin-left: 80px;
    padding-bottom:20px;
    color:#5f2166;
     opacity: .6
}
#header-about h2{
    font-weight: 400;
}
#header-about{
    font-size: 1.1em;
    
}
.container li{
    list-style-type: none;
}
ul h2{
    color: rgb(255,182,193,) ;
}
.coder{
    border-radius: 50%;
    margin-top: -40px;
    
}
.col-lg-4 {
    padding-bottom: 60px;
}
.contact-bar{
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-bar h3{
    text-align: center;
    padding-top: 25px;
    padding-bottom: -20px;
    font-size: 22px;
   
    
}
#contact-icons{
    display: flex;
    justify-content: center;
     color: rgb(255,182,193, 1);
    
}
.contact-links{
   font-size: 40px;
    padding: 15px;

  transition: all 100ms ease-in-out;
   
   
}

i{
    color: rgb(108, 117, 125, .6);
}
.please-contact{
    color: #fff;
    opacity: 1;
    margin-left: 3.5% ;
    margin-top:4%;
    font: var(--fontminor);
    font-weight: 600;
    font-size: 20px;
}

/*media queries - small screens*/
@media(max-width:900px){
    *
    {margin: 0 auto;
        text-align: center;
    }
    #about-me img{
        margin-left: 0%;
        margin-bottom: 15%;   
    }
    .portfolio-website{
        margin: 0 auto;

    }
    .portfolio-website h3{
        margin-left: 10%;
    }
    .proficient-logos{
        margin: 0 auto;
        margin-top: 2%;
    }
    
   /* #contact-icons-index{
        display: flex;
        flex-direction: row;
        font-size: 35px;
        text-align: center;
        margin-left: 25%
        
    }*/
    .weather-project{
        margin: 0%;
        text-align: center;
    }
  .weather-app-title{
      padding-left: 0;}

    .weather-app-blurb{
        padding:0%;
    }

    #header-about h1{
    text-align: left;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
   
    }
    .coder{
        margin-top: 5%;
    }
    .contact-bar{
        margin-top:-5px;
        margin-bottom: -20px;

    }
    .contact-bar h3{
        font-size: 18px;
    }
    #contact-icons{
        margin:  0 auto;
        width: 20%;
    }
     .index-contacts i{
    margin-left: 40%;
     }
    .about-me-li ul{
        margin-right: 10%;
    }
    
}
@media(min-width:430px) and (max-width:1024px){
#contact-icons{
    width:  25%;
}

}